.footer {
  background: $dark-bg-color;
  clip-path: polygon(6% 0%, 94% 0%, 100% 100%, 0% 100%);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
  }
  &__nav {
    display: flex;
    gap: 4rem;
    align-items: center;
    &-item {
      transition-property: color;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
      &:hover {
        color: $contrast-color;
      }
    }
  }
  &__contact-btn {
    margin-left: -11rem;
  }
}