.header {
  @include media-screen {
    background: $dark-bg-color;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__logo-text {
    font-family: "Euclid Circular A";
    @include font(3.3rem, normal, 600);
  }
  &__nav {
    position: relative;
    display: flex;
    list-style: none;
    width: 94rem;
    justify-content: center;

    @include media-screen {
      display: none;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      width: 94rem;
      height: 8rem;
      top: 0rem;
      background: $dark-bg-color;

      clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 7% 100%);
    }
    &-item {
      position: relative;
      padding: 3rem 2rem 2.5rem 2rem;
      border-bottom: solid 0.1rem #00000000;
      transition-property: color, border-bottom;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
      &:hover {
        color: $contrast-color;
        border-bottom: solid 0.1rem $contrast-color;
      }
    }
    &-link {
      text-transform: uppercase;
    }
  }
  &__logo {
    width: 5.4rem;
    height: 6.8rem;
    display: block;
    @include media-screen {
      width: 5.6rem;
      height: 6.8rem;
    }
  }
  &__tel-mobile {
    display: none;
    @include media-screen {
      display: block;
      width: 4.8rem;
      height: 4.8rem;
    }
  }
}

.header {
  &__left-side {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31rem;
    height: 8rem;
    left: 3rem;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0rem;
      display: block;
      border: 0.2rem solid #BA77FD;
      width: 100%;
      height: 100%;
      z-index: -1;
      -webkit-transform: skew(38deg);
      -moz-transform: skew(38deg);
      -o-transform: skew(38deg);
      transform: skew(38deg);
    }
    @include media-screen {
      width: 100%;
      justify-content: space-between;
      left: 0;
      height: 100%;
      padding: 3.2rem 0;
      &::before {
        display: none;
      }
    }
  }
  &__right-side {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31rem;
    height: 8rem;
    left: -3rem;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0rem;
      display: block;
      border: 0.2rem solid #BA77FD;
      width: 100%;
      height: 100%;
      -webkit-transform: skew(-38deg);
      -moz-transform: skew(-38deg);
      -o-transform: skew(-38deg);
      transform: skew(-38deg);
      z-index: -1;
    }
    @include media-screen {
      display: none;
    }
  }
}

// DROP MENUS
.header {
  &__drop-wrapper {
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: $drop-menu-bg-color;
    will-change: backdrop-filter;
    backdrop-filter: blur(12.5px);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;

    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }
  &__drop-item {
    color: $text-color;
    &:hover {
      color: $contrast-color;
    }
  }
}

.header__nav-item:hover .header__drop-wrapper {
  opacity: 1;
  visibility: visible;
}
