<div class="modal modal-person">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__close">
        <img src="./assets/images/burger-close-icon.svg" alt="x" class="modal__close-icon">
      </div>
      <div class="modal__card modal-person__card">
        <div class="modal-person__info">
          <p class="modal-person__position genl-text-reg">Electromechanic</p>
          <p class="modal-person__name genl-description">Ivan ivanov</p>
          <p class="modal-person__text genl-text-reg">
            We are always accountable to our partners for the fulfillment of our obligations and guarantee the high quality of our services. We are always accountable to our partners for the fulfillment of our obligations and strive to meet their needs with maximum efficiency.<br>Our goal is not only to satisfy current market demands but also to anticipate future trends, ensuring that our partners can trust in a long-term and successful collaboration with us. We are committed to continuous improvement and innovation, making sure that our services remain at the forefront of industry standards.
          </p>
        </div>
        <div class="modal-person__img-box">
          <img src="./assets/images/people_img.webp" alt="" class="modal-person__img">
        </div>
      </div>
      <div class="modal__border"></div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="#" class="footer__logo">
        <img src="./assets/images/logo.svg" alt="PNG logo" class="header__logo-img">
      </a>
      <nav class="footer__nav">
        <div class="footer__nav-item genl-subtitle-1">
          <a href="#" class="footer__nav-link">For operators and contractors</a>
        </div>
        <div class="footer__nav-item genl-subtitle-1">
          <a href="#" class="footer__nav-link">for Careers</a>
        </div>
        <div class="footer__nav-item genl-subtitle-1">
          <a href="#" class="footer__nav-link">For investors</a>
        </div>
        <div class="footer__nav-item genl-subtitle-1">
          <a href="#" class="footer__nav-link">explore more</a>
        </div>
      </nav>
      <button class="footer__contact-btn btn-rect btn-rect_dark">Contact us
        <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 5.01509L14.9822 1" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19 4.99513L14.9924 9.00002" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M0.999993 4.99512L18.9902 4.99512" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</footer>