<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="header__logo">
        <!-- <img src="" alt="PNG logo" class="header__logo-img"> -->
        <h1 class="header__logo-text">LOGO</h1>
      </a>
      <nav class="header__nav genl-subtitle-1">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">For operators and contractors</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">for Careers</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">For investors</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">explore more</a>
        </li>
      </nav>
      <button class="header__contact-btn btn-rect btn-rect_dark">Contact us</button>
    </div>
    <div class="header__wrapper_mobile">

    </div>
  </div>
</header>