<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__left-side">
        <a href="#" class="header__logo">
          <img src="./assets/images/logo.svg" alt="PNG logo" class="header__logo-img">
        </a>
      </div>
      <nav class="header__nav">
        <div class="header__nav-item operators-link">
          <a href="#" class="header__nav-link genl-subtitle-1">For operators and contractors</a>
          <div class="operators__drop-wrapper header__drop-wrapper">
            <div class="operators__drop-menu header__drop-menu">
              <div class="operators__drop-item header__drop-item">
                <a href="#" class="operators__drop-link genl-text-reg">Drilling & Workover</a>
              </div>
              <div class="operators__drop-item header__drop-item">
                <a href="#" class="operators__drop-link genl-text-reg">Well cementing</a>
              </div>
              <div class="operators__drop-item header__drop-item">
                <a href="#" class="operators__drop-link genl-text-reg">Managed Pressure Drilling</a>
              </div>
              <div class="operators__drop-item header__drop-item">
                <a href="#" class="operators__drop-link genl-text-reg">Casing while Drilling and Casing Tunning Tool</a>
              </div>
              <div class="operators__drop-item header__drop-item">
                <a href="#" class="operators__drop-link genl-text-reg">Permanent Mud Circulation System</a>
            </div>
            </div>
          </div>
        </div>
        <div class="header__nav-item">
          <a href="#" class="header__nav-link genl-subtitle-1">for Careers</a>
        </div>
        <div class="header__nav-item">
          <a href="#" class="header__nav-link genl-subtitle-1">For investors</a>
        </div>
        <div class="header__nav-item explore-link">
          <a href="#" class="header__nav-link genl-subtitle-1">explore more</a>
          <div class="explore__drop-wrapper header__drop-wrapper">
            <div class="explore__drop-menu header__drop-menu">
              <div class="explore__drop-item header__drop-item">
                <a href="" class="explore__drop-link genl-text-reg">About us</a>
              </div>
              <div class="explore__drop-item header__drop-item">
                <a href="" class="explore__drop-link genl-text-reg">News</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="header__right-side">
        <button class="header__contact-btn btn-rect btn-rect_transp">Contact us
          <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 5.01509L14.9822 1" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M19 4.99513L14.9924 9.00002" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M0.999993 4.99512L18.9902 4.99512" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>

    </div>
    <div class="header__wrapper_mobile">

    </div>
  </div>
</header>